<div class="flex flex-col">
  <div class="card">
      <div class="font-semibold text-xl">DataView</div>
      <p-dataview [value]="products" [layout]="layout">
          <ng-template #header>
              <div class="flex justify-end">
                  <p-select-button [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
                      <ng-template #item let-option>
                          <i class="pi " [ngClass]="{ 'pi-bars': option === 'list', 'pi-table': option === 'grid' }"></i>
                      </ng-template>
                  </p-select-button>
              </div>
          </ng-template>

          <ng-template #list let-items>
              <div class="flex flex-col">
                  <div *ngFor="let item of items; let i = index">
                    <div class="flex flex-col sm:flex-row sm:items-start p-6 gap-4" [ngClass]="{ 'border-t border-surface': i !== 0 }">
                          <div class="md:w-40 relative">
                              <img class="block xl:block mx-auto rounded w-full" src="{{ item.logo }}" [alt]="item.name" />
                          </div>
                          <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-4">
                            <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                                  <div>
                                    <div class="text-lg font-medium mt-2">{{ item.name }}</div>
                                      <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{ item.category }}</span>
                                  </div>
                              </div>
                              <div class="flex flex-col md:items-end gap-8">
                                  <div class="flex flex-row-reverse md:flex-row gap-2">
                                      <p-button outlined icon="pi pi-info-circle" label="Mais detalhes" [disabled]="item.inventoryStatus === 'OUTOFSTOCK'" styleClass="flex-auto md:flex-initial whitespace-nowrap"></p-button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </ng-template>

          <ng-template #grid let-items>
              <div class="grid grid-cols-12 gap-4">
                  <div *ngFor="let item of items; let i = index" class="col-span-12 sm:col-span-6 lg:col-span-4 p-2">
                      <div class="grid-item p-6 bg-surface-0 dark:bg-surface-900 rounded flex flex-col">
                          <div class="flex justify-center rounded p-4">
                              <div class="relative mx-auto">
                                  <img class="rounded w-full" src="{{ item.logo }}" [alt]="item.name" style="max-width: 300px" />
                              </div>
                          </div>
                          <div class="pt-12">
                              <div class="flex flex-row justify-between items-start gap-2">
                                  <div>
                                    <div class="text-lg font-medium mt-1">{{ item.name }}</div>
                                      <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{ item.category }}</span>
                                  </div>
                              </div>
                              <div class="flex flex-col gap-6 mt-6">
                                  <div class="flex gap-2">
                                      <p-button outlined icon="pi pi-info-circle" label="Mais informações" [disabled]="item.inventoryStatus === 'OUTOFSTOCK'" class="flex-auto whitespace-nowrap" styleClass="w-full"></p-button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </ng-template>
      </p-dataview>
  </div>
</div>
