  <div class="font-semibold text-xl mb-4">Ocupação</div>
  <ul class="list-none p-0 m-0">
      <li class="flex flex-col md:flex-row md:items-center md:justify-between mb-6">
          <div>
              <span class="text-surface-900 dark:text-surface-0 font-medium mr-2 mb-1 md:mb-0">Janeiro</span>
              <div class="mt-1 text-muted-color">8 vagas livres</div>
          </div>
          <div class="mt-2 md:mt-0 flex items-center">
              <div class="bg-surface-300 dark:bg-surface-500 rounded-border overflow-hidden w-40 lg:w-24" style="height: 8px">
                  <div class="bg-orange-500 h-full" style="width: 90%"></div>
              </div>
              <span class="text-orange-500 ml-4 font-medium">90%</span>
          </div>
      </li>
      <li class="flex flex-col md:flex-row md:items-center md:justify-between mb-6">
          <div>
              <span class="text-surface-900 dark:text-surface-0 font-medium mr-2 mb-1 md:mb-0">Fevereiro</span>
              <div class="mt-1 text-muted-color">15 vagas livres</div>
          </div>
          <div class="mt-2 md:mt-0 ml-0 md:ml-20 flex items-center">
              <div class="bg-surface-300 dark:bg-surface-500 rounded-border overflow-hidden w-40 lg:w-24" style="height: 8px">
                  <div class="bg-cyan-500 h-full" style="width: 16%"></div>
              </div>
              <span class="text-cyan-500 ml-4 font-medium">16%</span>
          </div>
      </li>
      <li class="flex flex-col md:flex-row md:items-center md:justify-between mb-6">
          <div>
              <span class="text-surface-900 dark:text-surface-0 font-medium mr-2 mb-1 md:mb-0">Março</span>
              <div class="mt-1 text-muted-color">21 vagas livres</div>
          </div>
          <div class="mt-2 md:mt-0 ml-0 md:ml-20 flex items-center">
              <div class="bg-surface-300 dark:bg-surface-500 rounded-border overflow-hidden w-40 lg:w-24" style="height: 8px">
                  <div class="bg-pink-500 h-full" style="width: 67%"></div>
              </div>
              <span class="text-pink-500 ml-4 font-medium">67%</span>
          </div>
      </li>
      <li class="flex flex-col md:flex-row md:items-center md:justify-between mb-6">
          <div>
              <span class="text-surface-900 dark:text-surface-0 font-medium mr-2 mb-1 md:mb-0">Abril</span>
              <div class="mt-1 text-muted-color">15 vagas livres</div>
          </div>
          <div class="mt-2 md:mt-0 ml-0 md:ml-20 flex items-center">
              <div class="bg-surface-300 dark:bg-surface-500 rounded-border overflow-hidden w-40 lg:w-24" style="height: 8px">
                  <div class="bg-green-500 h-full" style="width: 35%"></div>
              </div>
              <span class="text-primary ml-4 font-medium">35%</span>
          </div>
      </li>
      <li class="flex flex-col md:flex-row md:items-center md:justify-between mb-6">
          <div>
              <span class="text-surface-900 dark:text-surface-0 font-medium mr-2 mb-1 md:mb-0">Maio</span>
              <div class="mt-1 text-muted-color">7 vagas livres</div>
          </div>
          <div class="mt-2 md:mt-0 ml-0 md:ml-20 flex items-center">
              <div class="bg-surface-300 dark:bg-surface-500 rounded-border overflow-hidden w-40 lg:w-24" style="height: 8px">
                  <div class="bg-purple-500 h-full" style="width: 75%"></div>
              </div>
              <span class="text-purple-500 ml-4 font-medium">75%</span>
          </div>
      </li>
      <li class="flex flex-col md:flex-row md:items-center md:justify-between mb-6">
          <div>
              <span class="text-surface-900 dark:text-surface-0 font-medium mr-2 mb-1 md:mb-0">Junho</span>
              <div class="mt-1 text-muted-color">15 vagas livres</div>
          </div>
          <div class="mt-2 md:mt-0 ml-0 md:ml-20 flex items-center">
              <div class="bg-surface-300 dark:bg-surface-500 rounded-border overflow-hidden w-40 lg:w-24" style="height: 8px">
                  <div class="bg-teal-500 h-full" style="width: 40%"></div>
              </div>
              <span class="text-teal-500 ml-4 font-medium">40%</span>
          </div>
      </li>
  </ul>
