.box-pesquisar{
  width: 100%;
  background: var(--surface-card);
  padding: 80px;
  margin: 20px auto;
}

img{
  width: 150px;
  height: 100%;
}

@media (max-width: 991px) {
  .box-pesquisar{
    padding: 40px !important;
    margin: 15px auto !important;
  }
}
