<div class="flex flex-col gap-6 p-4 lg:p-16 w-[85vw] lg:w-[40vw]">
  <div>
    <label for="cep" class="block font-bold mb-3">Cep</label>
    <input type="tel" pInputText id="cep" [(ngModel)]="product.name" required autofocus fluid />
    <small class="text-red-500" *ngIf="submitted && !product.name">Cep é obrigatório.</small>
  </div>
  <div>
    <label for="rua" class="block font-bold mb-3">Rua</label>
    <input type="text" pInputText id="rua" [(ngModel)]="product.name" required autofocus fluid />
    <small class="text-red-500" *ngIf="submitted && !product.name"></small>
  </div>
  <div>
    <label for="numero" class="block font-bold mb-3">Numero</label>
    <input type="text" pInputText id="numero" [(ngModel)]="product.name" required autofocus fluid />
    <small class="text-red-500" *ngIf="submitted && !product.name"></small>
  </div>
  <div>
    <label for="estado" class="block font-bold mb-3">Estado</label>
    <p-select [(ngModel)]="product.inventoryStatus" inputId="estado" [options]="statuses" optionLabel="label"
      optionValue="label" fluid />
  </div>
  <div>
    <label for="cidade" class="block font-bold mb-3">Cidade</label>
    <p-select [(ngModel)]="product.inventoryStatus" inputId="cidade" [options]="statuses" optionLabel="label"
      optionValue="label" fluid />
  </div>
</div>
