<div class="card !mb-8">
  <div class="font-semibold text-xl mb-4">Próximos atendimentos</div>
  <p-table [value]="agendas" [paginator]="true" [rows]="5" responsiveLayout="scroll">
      <ng-template #header>
          <tr>
              <th>#</th>
              <th></th>
              <th>Data</th>
              <th>Horário</th>
              <th pSortableColumn="name">Nome <p-sortIcon field="nome"></p-sortIcon></th>
              <th pSortableColumn="price">Sala <p-sortIcon field="sala"></p-sortIcon></th>
              <th>View</th>
          </tr>
      </ng-template>
      <ng-template #body let-agenda>
          <tr>
              <td style="width: 15%; min-width: 5rem;">
                <div class="w-12 h-12 flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-full mr-4 shrink-0">
                  <i class="pi pi-stopwatch !text-xl text-orange-500"></i>
              </div>
               </td>
               <td><p-tag [severity]="agenda.severity" [value]="agenda.value"></p-tag></td>
               <td>{{agenda.data | date: 'dd/MM/YY'}}</td>
               <td>{{agenda.data | date: 'hh:mm'}}</td>
              <td style="min-width: 7rem;">{{ agenda.nome }}</td>
              <td style="min-width: 8rem;">{{ agenda.sala }}</td>
              <td style="">
                  <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only"></button>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
