img {
  height: 400px;
}

.img-item {
  width: 100%;
  height: 400px;
  background-size: cover;
  position: relative;
}

.box-detalhes {
  position: absolute;
  background: rgba(0, 0, 0, 0.13);
  bottom: 0;
  right: 0;
  left: 0;
  letter-spacing: 1px;
}

.item-detalhes {
  color: white;
  margin: 30px;

}

p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

h2 {
  color: white;
  border-radius: 5px;
  margin: 10px 0;
}
