<div class="owl-carousel owl-theme">
  <div class="item" style="width:42dvw">
    <div class="img-item" style="background-image: url(assets/m5.jpg);">
      <div class="box-detalhes">
        <div class="item-detalhes">
          <h2>Nossa cidade</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="item" style="width:42dvw">
    <div class="img-item" style="background-image: url(assets/m4.webp);">
      <div class="box-detalhes">
        <div class="item-detalhes">
          <h2>Nossa cidade</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="item" style="width:30dvw">
    <div class="img-item" style="background-image: url(assets/m1.jpg);">
      <div class="box-detalhes">
        <div class="item-detalhes">
          <h2>Biblioteca</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="item" style="width:30dvw">
    <div class="img-item" style="background-image: url(assets/m2.jpg);">
      <div class="box-detalhes">
        <div class="item-detalhes">
          <h2>Biblioteca</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="item" style="width:30dvw">
    <div class="img-item" style="background-image: url(assets/m3.jpg);">
      <div class="box-detalhes">
        <div class="item-detalhes">
          <h2>Biblioteca</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-pesquisar-pagina></app-pesquisar-pagina>
<app-grid-itens></app-grid-itens>
