<div class="card">
  <div class="flex flex-wrap gap-2" style="justify-content: space-between;">
    <div class="box-field">
      <p-fieldset legend="Data" [toggleable]="false" [style]="{'height': '220px'}">
        <div class="flex flex-col md:flex-row gap-4">
          <div class="flex items-center">
            <p-radiobutton id="option1" name="option" value="P" [(ngModel)]="configuracao.tipo" />
            <label for="option1" class="leading-none ml-2">Por periodo</label>
          </div>
          <div class="flex items-center">
            <p-radiobutton id="option2" name="option" value="D" [(ngModel)]="configuracao.tipo" />
            <label for="option2" class="leading-none ml-2">Por dias</label>
          </div>
        </div>
        @if(configuracao.tipo == 'P'){
        <div class="flex-auto mt-2">
          <mat-form-field>
            <mat-label>Início</mat-label>
            <input [(ngModel)]="configuracao.dataInicio" matInput [matDatepicker]="inicio">
            <mat-datepicker-toggle matIconSuffix [for]="inicio"></mat-datepicker-toggle>
            <mat-datepicker #inicio></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="flex-auto">
          <mat-form-field>
            <mat-label>Fim</mat-label>
            <input [(ngModel)]="configuracao.dataFim" matInput [matDatepicker]="fim">
            <mat-datepicker-toggle matIconSuffix [for]="fim"></mat-datepicker-toggle>
            <mat-datepicker #fim></mat-datepicker>
          </mat-form-field>
        </div>
        }@else {
        <div class="mt-4">
          <p-iconfield>
            <label for="templatedisplay" class="font-bold block mb-2"> Quantidade de dias </label>
            <input [(ngModel)]="configuracao.dias" pInputText type="number" max="365" />
          </p-iconfield>
        </div>
        }
      </p-fieldset>

    </div>
    <div class="box-field">
      <p-fieldset legend="Horário" [toggleable]="false" [style]="{'height': '220px'}">
        <div>
          <label for="templatedisplay" class="font-bold block mb-2 "> Início </label>
          <input [(ngModel)]="configuracao.horarioInicio" class="input-hora" type="time">
        </div>
        <div>
          <label for="templatedisplay" class="font-bold block mb-2 "> Fim </label>
          <input [(ngModel)]="configuracao.horarioFim" class="input-hora" type="time">
        </div>
      </p-fieldset>
    </div>
  </div>
  <br>
  <p-fieldset legend="Intervalos (minutos)" [toggleable]="false">
    <p-iconfield>
      <label for="templatedisplay" class="font-bold block mb-2"> Entre horários </label>
      <input pInputText type="number" />
    </p-iconfield>
    <p-iconfield iconPosition="left">
      <label for="templatedisplay" class="font-bold block mb-2"> Pós horário </label>
      <input pInputText type="number" />
    </p-iconfield>
  </p-fieldset>
  <br>
  <p-fieldset legend="Dias da semanada" [toggleable]="false">
    <app-seleciona-dias-semada></app-seleciona-dias-semada>
  </p-fieldset>
  <br>
  <p-fieldset legend="Restrições" [toggleable]="false">
    <div class="flex flex-col md:flex-row gap-4">
      <div class="flex items-center">
        <p-checkbox id="checkOption1" name="option" value="Chicago" [(ngModel)]="checkboxValue" />
        <label for="checkOption1" class="ml-2">Ignorar feriados</label>
      </div>
      <div class="flex items-center">
        <p-checkbox id="checkOption1" name="option" value="Chicago" [(ngModel)]="checkboxValue" />
        <label for="checkOption1" class="ml-2">Ignorar finais de semana</label>
      </div>
    </div>
  </p-fieldset>
  <app-voltar-salvar (salvarEmit)="salvar()"></app-voltar-salvar>
</div>
<p-confirmdialog [style]="{ width: '450px' }" />
<p-toast></p-toast>
