<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <img class="logo" src="assets/logo-pma.png" width="200">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let menu of megaMenuItems" class="nav-item active">
        <a class="nav-link dropdown-toggle" [id]="menu.label" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [routerLink]="menu.routerLink">{{menu.label}} <span class="sr-only">(current)</span></a>
        @if (menu?.items?.length) {
          <div class="dropdown-menu" data.aria-labelledby="navbarDropdown">
            <a *ngFor="let item of menu.items" class="dropdown-item" href="#">{{item.label}}</a>
          </div>
        }
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Governo</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Serviços
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Notícias</a>
      </li>
    </ul>
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />

  </div>
</nav>
<carosel1/>
