<div class="layout-topbar dark:primary.500">
  <div class="layout-topbar-logo-container">
    <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
    </button>
    <a class="layout-topbar-logo" routerLink="/">
      <img class="logo" src="assets/logo-pma.png" width="200">
    </a>
    <ul
      class="hidden list-none p-0 m-0 flex lg:items-center select-none flex-col lg:flex-row cursor-pointer gap-8 lg:flex">
      <li routerLink="/carosel">
        <a pRipple class="px-0 py-4 text-surface-600 dark:text-surface-0 font-medium text-xl">
          <span>Home</span>
        </a>
      </li>
      <li routerLink="/organizacao">
        <a pRipple class="px-0 py-4 text-surface-600 dark:text-surface-0 font-medium text-xl">
          <span>Organização</span>
        </a>
      </li>
      <li routerLink="/grid">
        <a pRipple class="px-0 py-4 text-surface-600 dark:text-surface-0 font-medium text-xl">
          <span>Governo</span>
        </a>
      </li>
      <li routerLink="/grid/icon">
        <a pRipple class="px-0 py-4 text-surface-600 dark:text-surface-0 font-medium text-xl">
          <span>Serviços</span>
        </a>
      </li>
      <li>
        <a routerLink="/noticias" pRipple class="px-0 py-4 text-surface-600 dark:text-surface-0 font-medium text-xl">
          <span>Notícias</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="layout-topbar-actions">
    <div class="layout-config-menu">
      <button type="button" class="layout-topbar-action" (click)="toggleDarkMode()">
        <i
          [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
      </button>
    </div>

    <button class="layout-topbar-menu-button layout-topbar-action" pStyleClass="@next" enterFromClass="hidden"
      enterActiveClass="animate-scalein" leaveToClass="hidden" leaveActiveClass="animate-fadeout"
      [hideOnOutsideClick]="true">
      <i class="pi pi-ellipsis-v"></i>
    </button>

    <div class="layout-topbar-menu hidden lg:block">
      <div class="layout-topbar-menu-content">
        <div class="relative">
          <button class="layout-topbar-action" pStyleClass="@next" enterFromClass="hidden"
            enterActiveClass="animate-scalein" leaveToClass="hidden" leaveActiveClass="animate-fadeout"
            [hideOnOutsideClick]="true">
            <i class="pi pi-user"></i>
            <span>Login</span>
          </button>
          <app-profile-login />
        </div>
      </div>
    </div>
  </div>
</div>
